In [18]:
import numpy as np 
import pandas as pd 
import time
from math import log

In [2]:
data=pd.DataFrame({'id':[1,2,3,4,5],'Loan_ant':[100,200,250,150,300],'Loan Status':['Bad','Good','Good','Good','Bad']})
data

   id  Loan_ant Loan Status
0   1       100         Bad
1   2       200        Good
2   3       250        Good
3   4       150        Good
4   5       300         Bad

In [3]:
weather=pd.DataFrame(
    {'Weekened':['W1','W2','W3','W4','W5','W6','W7','W8','W9','W10'],
     "Weather":['Sunny','Windy','Rainy','Rainy','Rainy','Sunny','Windy','Windy','Windy','Sunny'],
    'Parents':['YES','NO','YES','YES','NO','YES','NO','NO','YES','NO'],
    'Money':['Rich','Rich','Rich','Poor','Rich','Poor','Poor','Rich','Rich','Rich'],
    'Decission':['Cinema','Tennis','Cinema','Cinema','Stay In','Cinema','Cinema','Shopping','Cinema','Tennis']
    }
)

In [4]:
weather['Weather_']=weather.Weather.map({'Sunny':0,'Windy':1,'Rainy':2})
weather['Parents_']=weather.Parents.map(({'YES':1,'NO':0}))
weather['Money_']=weather.Money.map({'Rich':1,'Poor':0})
weather['Decission_']=weather.Decission.map({'Cinema':0,'Tennis':1,'Stay In':2,'Shopping':3})
weather

,Weekened,Weather,Parents,Money,Decission,Weather_,Parents_,Money_,Decission_
0,W1,Sunny,YES,Rich,Cinema,0,1,1,0
1,W2,Windy,NO,Rich,Tennis,1,0,1,1
2,W3,Rainy,YES,Rich,Cinema,2,1,1,0
3,W4,Rainy,YES,Poor,Cinema,2,1,0,0
4,W5,Rainy,NO,Rich,Stay In,2,0,1,2
5,W6,Sunny,YES,Poor,Cinema,0,1,0,0
6,W7,Windy,NO,Poor,Cinema,1,0,0,0
7,W8,Windy,NO,Rich,Shopping,1,0,1,3
8,W9,Windy,YES,Rich,Cinema,1,1,1,0
9,W10,Sunny,NO,Rich,Tennis,0,0,1,1

In [5]:
weather=weather.loc[:,'Weather_':]
weather

   Weather_  Parents_  Money_  Decission_
0         0         1       1           0
1         1         0       1           1
2         2         1       1           0
3         2         1       0           0
4         2         0       1           2
5         0         1       0           0
6         1         0       0           0
7         1         0       1           3
8         1         1       1           0
9         0         0       1           1

In [11]:
def gini(x):
    start=time.time()
    total = 0
    for i, xi in enumerate(x[:-1], 1):
        total += np.sum(np.abs(xi - x[i:]))
        
    end=time.time()
    print(end-start)
      
    return total / (len(x)**2 * np.mean(x))

In [27]:
gini(weather.Weather_)

0.011675834655761719

0.42

In [87]:
def gini_index(x):
    start=time.time()
    gini=np.abs(np.subtract.outer(x, x)).mean()/np.mean(x)*0.5
    end=time.time()
    print('total time is ',end-start)
    return gini

In [88]:
x=np.array(weather.Weather_.values)

In [89]:
a=gini_index(x)
a

total time is  0.00016832351684570312

0.42

In [99]:
len(x)

10

In [103]:
#np.sum(np.square((np.bincount(x)/len(x))))

In [47]:
counts=np.bincount(weather.Weather_)
p=counts/len(weather.Weather_)
entropy=-np.sum((np.multiply(p,np.log2(p))))
entropy

1.5709505944546684

1.5709505944546684

In [40]:
def calc_entropy(x):
    counts=np.bincount(x)
    probab=counts/len(x)
    entropy=0
    for prob in probab:
        if prob>0:
            entropy+=prob*np.log2(prob)
    return -entropy

In [56]:
class DecissionCost:
    #def __init__(self):
        
        
    def Entropy(self,x):
        counts=np.bincount(x)
        p=counts/len(x)
        entropy=-np.sum(np.multiply(p,np.log2(p)))
        return entropy
    def InformationGain(self,x):
        entropy=self.Entropy(x)
        IG=1-entropy
        return IG

In [57]:
cost=DecissionCost()
cost.Entropy(weather.Weather_)
cost.InformationGain(weather.Weather_)

-0.5709505944546684

In [58]:
from scipy.stats import entropy

In [63]:
entropy(weather.Weather_,base=2)

2.7219280948873625

In [64]:
# Defining a simple dataset
attribute_names =  ['age', 'income','student', 'credit_rate']
class_name = 'default'
data1 ={
    'age' : ['youth', 'youth', 'middle_age', 'senior', 'senior', 'senior','middle_age', 'youth', 'youth', 'senior', 'youth', 'middle_age','middle_age', 'senior'],
    'income' : ['high', 'high', 'high', 'medium', 'low', 'low', 'low', 'medium','low', 'medium', 'medium', 'medium', 'high', 'medium'],
    'student' : ['no','no','no','no','yes','yes','yes','no','yes','yes','yes','no','yes','no'],
    'credit_rate' : ['fair', 'excellent', 'fair', 'fair', 'fair', 'excellent', 'excellent', 'fair', 'fair', 'fair','excellent', 'excellent', 'fair', 'excellent'],
    'default' : ['no', 'no', 'yes', 'yes', 'yes', 'no', 'yes', 'no', 'yes', 'yes','yes', 'yes', 'yes', 'no']
}
df1 = pd.DataFrame (data1, columns=data1.keys())
print(df1)

           age  income student credit_rate default
0        youth    high      no        fair      no
1        youth    high      no   excellent      no
2   middle_age    high      no        fair     yes
3       senior  medium      no        fair     yes
4       senior     low     yes        fair     yes
5       senior     low     yes   excellent      no
6   middle_age     low     yes   excellent     yes
7        youth  medium      no        fair      no
8        youth     low     yes        fair     yes
9       senior  medium     yes        fair     yes
10       youth  medium     yes   excellent     yes
11  middle_age  medium      no   excellent     yes
12  middle_age    high     yes        fair     yes
13      senior  medium      no   excellent      no

In [82]:



class_value_counts = df1[class_name].value_counts()
class_value_counts
n=class_value_counts.sum()
p_sum=0
for key in class_value_counts.keys():
    p_sum+=(class_value_counts[key]/n)*(class_value_counts[key]/n)

gini=1-p_sum
print(gini)

12
12
0.4591836734693877

In [79]:
try:
    
    np.bincount(df1[class_name])
except:
    class_counts=df1[class_name].value_counts()

yes    9
no     5
Name: default, dtype: int64

In [115]:

class_value_counts =np.bincount(x)

n=class_value_counts.sum()
p_sum=0
for key in class_value_counts:
    p_sum+=(key/n)*(key/n)
  

gini=1-p_sum
print(gini)

0.66

In [117]:
x

array([0, 1, 2, 2, 2, 0, 1, 1, 1, 0])

In [118]:
cost.Entropy(x)
cost.InformationGain(x)

-0.5709505944546684